<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <h1>Invoice Management</h1>
  <ul>
    <li><a href="/create">Create Invoice</a></li>
    <li><a href="/invoices">View / Edit Invoices</a></li>
    
  </ul>
</body>
</html>
